
 <!-- main box -->

 <div class="container-fluid bg-about" style="  background: linear-gradient(rgba(9, 30, 62, .18), rgba(9, 30, 62, .7)), url(assets/images/aboutpage1.jpg) center center no-repeat; height: 480px; width:100%; background-size: cover;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center animate__animated animate__fadeIn">
            <h1 style="line-height: 1.0;">About Sanyu Infotech Technologies</h1>
            <p class=" text-white ;" style="font-size: 17px">Sanyu Infotech was founded with the vision to create a
                software and custom
                application development company dedicated to delivering innovative technical solutions for
                real-world business challenges. Our focus is on driving success and efficiency for businesses
                through tailored digital&nbsp;solutions.</p>
        </div>
    </div>
</div>

<div class="container">
    <!-- first section -->
    <div class="row aboutfeaturette align-items-center animate__animated animate__fadeInUp"
        style="margin-top: 100px;">
        <div class="col-md-7 w-60">
            
                <h2 class="fw-bold display-5"
                    style="color: #ff4d00; font-weight: 600; font-size: 30px; margin-bottom: 10px;">
                    About Us</h2>
                <h3>Who We are</h3>
                <div style="width: 25%; margin-bottom: 20px; background-color: #ff4d00;">
                    <div class="motion-line"> </div>
                </div>
            
                <p class="fw-bold" style="line-height: 1.3; font-size: 18px;" >Infotech was founded with a vision to provide innovative software and custom application
                    development solutions. Our goal is
                    to deliver cutting-edge technology that addresses real-world business challenges, helping
                    businesses grow and stay ahead in an ever-evolving digital landscape.</p>
            
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto rounded animate__animated animate__fadeIn" alt="500x500"
                src="assets/images/aboutpage2.jpg" data-holder-rendered="true" style="width: 530px; height: 400px;">
        </div>
    </div>

    <div class="row aboutfeaturette align-items-center">
        <div class="col-md-7 order-md-2">
            <p style="line-height: 1.3; font-size: 18px;" >While many companies followed similar paths, our founders focused on serving clients with
                excellence, believing that talent,
                transparency, strong work ethics, and honesty were key to a company's success. This approach
                enabled us to deliver custom development
                projects across 24 countries and grow to a team of over 700 dedicated professionals.</p>

        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto rounded" alt="500x500" src="assets/images/aboutpage3.jpg"
                data-holder-rendered="true" style="width: 530px; height: 400px;">
        </div>
    </div>
</div>



<div class="container-fluid marketing text-center">
    <div class="container">
        <div class="row g-5 py-5">
          
                <h2 class="fw-bold display-5"
                    style="color: #000000; font-weight: 600; font-size: 35px; ">
                    Why Sanyu infotech?</h2>
           
            <div class="col-lg-4">
               
                    <img class="rounded-circle" src="assets/images/aboutpage4.jpg" alt="Generic placeholder image"
                        width="140" height="140">
                    <h2 class="fw-bold" style="margin-top: 18px;">Design Thinking Approach</h2>
                    <p style="line-height: 1.3; font-size: 18px;" >Our customer-centric design thinking approach empowers businesses to rapidly build adaptable,
                        future-proof architectures. We place
                        your customers at the core, crafting meaningful digital experiences that drive growth</p>
               
            </div>

            <div class="col-lg-4">
                
                    <img class="rounded-circle" src="assets/images/aboutpage5.jpg" alt="Generic placeholder image"
                        width="140" height="140">
                    <h2 class="fw-bold" style="margin-top: 18px;">Cutting-Edge Technology Culture</h2>
                    <p style="line-height: 1.3; font-size: 18px;" >With over 30 years of experience in leveraging groundbreaking technologies, we deliver
                        innovative solutions that help clients
                        achieve impactful business outcomes and stay ahead of the competition.</p>
               
            </div>

            <div class="col-lg-4">
               
                    <img class="rounded-circle" src="assets/images/aboutpage6.jpg" alt="Generic placeholder image"
                        width="140" height="140">
                    <h2 class="
                    fw-bold" style="margin-top: 18px;">End-to-End Partnership</h2>
                    <p style="line-height: 1.3; font-size: 18px;" >As your trusted partners, we provide comprehensive support across every stage of your digital
                        transformation. From strategizing your
                        digital business vision to implementing tailored solutions, we ensure that each step is
                        aligned with your business objectives.</p>
               
            </div>
        </div>

    </div>
</div>

<!-- Our vision -->
<div class="container" style="margin-bottom: 100px;">

    <div class="row aboutfeaturette align-items-center" style=" margin-top: 100px;">
        <div class="col-md-7 order-md-2">
            <b>
                <h2 class="fw-bold display-5"
                    style="color: #000000; font-weight: 600; font-size: 40px; margin-bottom: 10px;">
                    Our Vision </h2>
                <div style="width: 27%; text-align: center; background-color: #ff4d00;">
                    <div class="motion-line"> </div>
                </div>
            </b>

            <p style="line-height: 1.3; font-size: 18px;" >We aim to lead with integrity, innovation, and a relentless pursuit of excellence.
                Our vision is to empower businesses and communities by delivering transformative
                technology solutions that create real, lasting value. We are committed to earning
                the trust of our clients and partners every day by consistently exceeding expectations
                and embracing new challenges with confidence. By fostering a culture of collaboration and
                continuous learning, we strive to stay at the forefront of technological advancements,
                shaping the future through impactful and sustainable digital solutions.</p>

        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto rounded" alt="500x500" src="assets/images/aboutpage7.jpg"
                data-holder-rendered="true" style="width: 530px; height: 400px;">
        </div>
    </div>

    <!-- our Mission -->
    <div class="row aboutfeaturette align-items-center" style="margin-top: 100px;">
        <div class="col-md-7">
            <b>

                <h2 class="fw-bold display-5"
                    style="color: #000000; font-weight: 600; font-size: 40px; margin-bottom: 10px;">
                    Our Mission </h2>
                <div style="width: 31%; text-align: center; background-color: #ff4d00;">
                    <div class="motion-line"> </div>
                </div>
            </b>

            <p style="line-height: 1.3; font-size: 18px;" >Our mission is to transform innovative ideas into impactful business solutions while maximizing
                resource efficiency. We believe in doing more with less through adaptability and agility. Our
                goal is to deliver intelligent, effective solutions that drive success. We prioritize transparen
                t communication and responsible actions, ensuring the best outcomes for our clients and team
                members.
                By embracing challenges with creativity and commitment, we continuously strive to exceed
                expectations
                and contribute positively to the digital world.</p>

        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto rounded" alt="500x500" src="assets/images/aboutpage8.jpg"
                data-holder-rendered="true" style="width: 530px; height: 400px;">
        </div>
    </div>
</div>


