
 <!-- main box -->
 <div class="container-fluid py-5 bg-contact" style="  background: linear-gradient(rgba(78, 79, 79, 0.233), rgba(2, 7, 16, 0.7)), url(assets/images/Contact1.png) center center no-repeat; background-size: cover;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center ">

            <h1 class="animate__animated animate__fadeIn" style="margin-top: 20px; line-height: 1.0;">Feel Free to Contact Us !!</h1>

            <p class="animate__animated animate__fadeIn" style="color: white; font-size: 17px; max-width: 100%;  margin-bottom: 50px;">We’d love to hear
                from you! Get in touch with us for any
                inquiries, support, or to discuss how we can collaborate to achieve your goals.</p>
        </div>
    </div>
</div>

<div class="container contact" style="margin-top: -70px;">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="card">
                <div class="icon" style="font-size: 26px;">📁</div>
                <h5 class="fw-bold" style="font-size: 17px; margin-top: 7px;">Career Opportunities</h5>
                <p style="  font-size: 16px; color: #333;">Discover Your Next Career<br>Move with Us</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background-color: #f0f8ff;">
                <div class="icon" style="font-size: 26px;">🛟</div>
                <h5 class="fw-bold" style="font-size: 17px; margin-top: 7px;">Help & Support</h5>
                <p>Your Success is Our Priority –<br>We're Here to Support You!</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="icon" style="font-size: 26px;">❓</div>
                <h5 class="fw-bold" style="font-size: 17px; margin-top: 7px;">Frequently Asked Questions</h5>
                <p>Everything you need to know<br>Explore more</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 100px; margin-bottom: 70px;">
    <div class="row featurette align-items-center">
        <div class="col-lg-7 order-lg-2">
            <b>
                <h2 class="fw-bold display-4"
                    style="color: #000000;font-size: 35px; margin-bottom: 10px;">
                    Get in Touch with Us – Visit Our Office Today!
                </h2>
                <div style="width: 25%; text-align: center; background-color: #ff4d00;">
                    <div class="motion-line"> </div>
                </div>
            </b>
            <h4 class="mt-3" style="font-size: 20px;">India</h4>
            <p style="font-size: 17px;">Sanyu Info Tech, near Vikas Mitra Mandal Chowk,<br> Bhagyoday Colony, Hingne
                Budrukh,<br> Karve Nagar, Pune, <br>Maharashtra<br> 411052</p>


            <div class="row">
                <div class="col-md-5">
                    <div class="p-2 border rounded text-center shadow" style="max-width: 180px; margin: auto;">

                        <h6 class="mt-1 fw-bold" style="color: #ff4d00; font-size: 17px;">Call Us</h6>
                        <p class="fw-bold" style="font-size: 16px; margin-bottom: 0;">+91 97677 43783</p>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="p-2 border rounded text-center shadow " style="max-width: 240px; margin: auto;">

                        <h6 class="mt-1 fw-bold" style="color: #ff4d00; font-size: 17px;">Email</h6>
                        <p class="fw-bold" style="font-size: 17px; margin-bottom: 0;">hr&#64;sanyuinfotech.com</p>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto rounded" alt="500x500" src="assets/images/contact2.png"
                data-holder-rendered="true" style="width: 530px; height: 400px;">
        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="container py-5">

        <div class="row g-5">
            <div class="col-lg-6">
            <app-contact-form ></app-contact-form>

        </div>
            <div class="col-lg-6 wow slideInUp" data-wow-delay="0.6s"
                style="visibility: visible; animation-delay: 0.6s; animation-name: slideInUp;">
                <iframe class="position-relative rounded w-100 h-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.8854653832695!2d73.8172064!3d18.488846499999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bfbef4c4b3c5%3A0xbdf929afd677c193!2sSANYU%20INFOTECH%20PVT%20LTD!5e0!3m2!1sen!2sin!4v1739802328409!5m2!1sen!2sin"
                    frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>
    </div>
</div>

