
 <!-- main box -->
 <div class="container-fluid py-5 bg-contact" style="  background: linear-gradient(rgba(78, 79, 79, 0.233), rgba(2, 7, 16, 0.7)), url(assets/images/Contact1.png) center center no-repeat; background-size: cover;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center ">

            <h1 class="animate__animated animate__fadeIn" style=" line-height: 1.0;">Feel Free to Contact Us !!</h1>

            <p class="animate__animated animate__fadeInUp" style="color: white; font-size: 17px; max-width: 100%;  margin-bottom: 50px;">We’d love to hear
                from you! Get in touch with us for any
                inquiries, support, or to discuss how we can collaborate to achieve your goals.</p>
        </div>
    </div>
</div>

<div class="container contact" style="margin-top: -70px;">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="card animate__animated animate__zoomIn">
                <div class="icon" style="font-size: 26px;">📁</div>
                <h5 class="fw-bold" style="font-size: 17px; margin-top: 7px;">Career Opportunities</h5>
                <p style="  font-size: 16px; color: #333;">Discover Your Next Career<br>Move with Us</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card animate__animated animate__zoomIn" style="background-color: #f0f8ff;">
                <div class="icon" style="font-size: 26px;">🛟</div>
                <h5 class="fw-bold" style="font-size: 17px; margin-top: 7px;">Help & Support</h5>
                <p>Your Success is Our Priority –<br>We're Here to Support You!</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card animate__animated animate__zoomIn">
                <div class="icon" style="font-size: 26px;">❓</div>
                <h5 class="fw-bold" style="font-size: 17px; margin-top: 7px;">Frequently Asked Questions</h5>
                <p>Everything you need to know<br>Explore more</p>
            </div>
        </div>
    </div>
</div>
<div class="container about-us py-5" style="margin-bottom: 0%;">
    <div class="row align-items-center ">
        <!-- Text Content -->
        <div class="col-md-6 text-center mt-4 mt-md-0 animation">
            <img src="assets/images/contact2.png"
                class="img-fluid rounded w-90 d-block mx-auto my-4 animate__animated animate__fadeIn"
                alt="Business Discussion" style="height: 400px; width: 500px;">
        </div>
        <div class="col-md-6 text-center text-md-left animation">
            <h2 style="text-align: justify; font-size: 30px;">Get in Touch with Us – Visit Our Office Today!</h2>


            <div 
            style="width: 25%; text-align: center; margin-top: 16px;margin-bottom: 10px; background-color: #ff4d00;">
            <div class="motion-line"> </div>
        </div>

            <h2 class="fw-bold text-danger my-4"
                style="font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-align: left;">
                <b>India</b>


            </h2>
            <p class="text-align text-dark fs-9" style="text-align:justify; margin-top: -20px; font-family: Open Sans, Roboto, Lato, or Montserrat; line-height: 1.5;">Sanyu Info Tech, near
                Vikas Mitra Mandal Chowk,
                Bhagyoday Colony, Hingne Budrukh,
                Karve Nagar, Pune,
                Maharashtra 411052</p>


            <div class="d-flex align-items-center wow fadeIn mt-4" data-wow-delay="0.1s">

                <!--<img src="assets/images/contact-mobile-icon.png">-->
                <div style="background-color: green; height: 40px; width:40px; border-radius: 50%;">
                    <i class="fa-solid fa-phone" style="margin-top: 12px; color: white;"></i>
                </div>



                <div>
                    <h5 class="fw-bold text-danger w-100"
                        style="margin-left: 10%; text-align: justify; font-size: 15px; margin-top: 10px;"><b>Call Us</b>
                    </h5>
                    <h6 style="margin-left: 10%; margin-top: -10px;">9767743783</h6>
                </div>
            </div>

            <div class="d-flex align-items-center wow fadeIn mt-3" data-wow-delay="0.1s">

                <!--<img src="assets/images/contact-email-icon.png">-->
                <div style="background-color: blue; height: 40px; width:40px; border-radius: 50%;">
                    <i class="fa-solid fa-envelope-open-text" style="margin-top: 12px; color: white;"></i>
                </div>
                <div>
                    <h5 class="fw-bold text-danger"
                        style="margin-left: 10%; text-align: justify; font-size: 15px; margin-top: 10px;"><b>Email</b>
                    </h5>
                    <h6 style="margin-left: 10%; margin-top: -10px;">hr&#64;sanyuinfotech.com</h6>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="container py-5">

        <div class="row g-5">
            <div class="col-lg-6 animation">
            <app-contact-form ></app-contact-form>

        </div>
        <div class="col-lg-6">
            <iframe class="position-relative rounded w-100 h-100 animation" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.8854653832695!2d73.8172064!3d18.488846499999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bfbef4c4b3c5%3A0xbdf929afd677c193!2sSANYU%20INFOTECH%20PVT%20LTD!5e0!3m2!1sen!2sin!4v1739802328409!5m2!1sen!2sin" frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        </div>
    </div>
</div>


