* {
    font-family: 'Nunito', sans-serif;
    font-size: 18px; /* Adjust font size */
    
}
html,body{
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth; /* Enables smooth scrolling */
    -webkit-overflow-scrolling: touch; /* Ensures smooth scrolling on iOS */
}

@keyframes appear{
    from{
        opacity:1;
        scale:0.5;
    }
    to{
        opacity:5;
        scale:1;
    }
}
  
.animation{
    animation:appear linear;
    animation-timeline: view();
    animation-range: entry 0% ;
}
  